@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}


.main-section{
    background-color: #1c2541;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-box{
    background-color: #3a506b;
    padding: .5rem .7rem;
    margin-top: 4.5rem;
    border-radius: 15px;
    display: flex;
    column-gap: 3px;
}

.input-text{
    font-size: 1.7rem;
    background-color: #3a506b;
    color: #0b132b;
    outline: none;
    border: none;
    padding: .3rem .5rem;
}

.input-text:focus{
    border-bottom: 1.5px solid #0b132b;
}

.search-btn{
    font-size: 1.3rem;
    padding: .3rem .7rem;
    background-color: #6fffe9;
    color: #3a506b;
    border: 2px solid #6fffe9;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

.search-btn:hover{
    background-color: transparent;
    border: 2px solid #6fffe9;
    color: #6fffe9;
}

.load-page{
    font-size: 1.2rem;
    color: white;
    margin-top: 1.1rem;
    letter-spacing: 1.1px;
}

.word-pronunciation{
    display: none;
    margin-top: .7rem;
}

.result-box{
    display: none;
    max-width: 60%;
    margin-top: 1.2rem;
    background-color: #0b132b;
    padding: .5rem .8rem;
    border-radius: 10px;
}

.meaning{
    font-size: 1.2rem;
    color: white;
    letter-spacing: 1.1px;
}

.definition{
    font-size: 1.2rem;
    color: white;
    line-height: 1.6rem;
    letter-spacing: 1.1px;
}

.example{
    font-size: 1.2rem;
    color: white;
    letter-spacing: 1.1px;
}

.example-box{
    font-size: 1.2rem;
    color: white;
    line-height: 1.6rem;
    letter-spacing: 1.1px;
}

.not-found-box{
    display: none;
    flex-direction: column;
    align-items: center;
}

.result-not-found{
    font-size: 1.5rem;
    color: white;
    margin-top: 1.3rem;
}

.emoji{
    font-size: 4rem;
}

.loading{
    display: none;
    margin-top: 1.5rem;
}

@media screen and (max-width: 540px) {
    .search-box{
        background-color: transparent;
        padding: 0;
        margin-top: 2.5rem;
        border-radius: 0;
        flex-direction: column;
        row-gap: 18px;
        align-items: center;
        column-gap: 0;
    }
    
    .input-text{
        width: 100%;
        margin: 0 1.1rem;
        padding: .5rem .8rem;
        border-radius: 14px;
    }
    
    .input-text:focus{
        border-bottom: none;
    }
    
    .search-btn{
        width: 100%;
        padding: .3rem 0;
    }
    
    .word-pronunciation{
        margin-top: 1.3rem;
    }
    
    .result-box{
        width: 90%;
        margin-top: 1.8rem;
        padding: .6rem .9rem;
    }
}